aio-pika
aiormq
alembic
annotated-types
anyio
black
bleach
certifi
charset-normalizer
click
contourpy
coverage
cycler
exceptiongroup
fastapi
flake8
fonttools
geographiclib
geopy
graphene
graphene-sqlalchemy
graphql-core
graphql-relay
h11
idna
iniconfig
isort
kaggle
kiwisolver
Mako
MarkupSafe
matplotlib
mccabe
multidict
mypy-extensions
numpy
packaging
pamqp
pandas
pathspec
pillow
platformdirs
pluggy
propcache
psycopg2-binary
pycodestyle
pydantic
pydantic_core
pyflakes
pyparsing
pytest
pytest-cov
python-dateutil
python-dotenv
python-gql
python-slugify
promise
pytz
requests
seaborn
six
sniffio
SQLAlchemy
starlette
starlette-graphql
strawberry-graphql
text-unidecode
tqdm
types-python-dateutil
types-requests
typing_extensions
tzdata
urllib3
uvicorn
webencodings
yarl
